.movieRow{
  margin-bottom: 32px;
}

.movie h2 {
  margin-left: 32px;
}

.movieRow{
  overflow-x: hidden;
}

.movieRow-list{
  width: 1000%;
}

.movieRow-item{
  display: inline-block;
  width: 220px;
  cursor: pointer;
}

.movieRow-item img{
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.movieRow-item img:hover{
  transform: scale(1);
}